.allTodoContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  min-height: 200px;
}
.todoDiv {
  width: 550px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #e0e0e0;
}
.todoDiv:hover {
  outline: 2px solid black;
}
.todoDiv h3 {
  font-size: 25px;
  margin-bottom: 5px;
}
.todoDiv ul {
  margin-top: 10px;
  padding-left: 15px;
}
.todoLi,
.done {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.done,
.todoLi:hover {
  color: #6b6b6b;
  text-decoration: line-through;
}
.done:hover {
  color: black;
  text-decoration: none;
}
.listHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  height: 20px;
  cursor: pointer;
}
.icon:hover {
  fill: #fb2e01;
}
