.h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.pageContainer {
  max-width: 700px;
  margin: auto;
  position: relative;
  min-height: 200px;
}
.container {
  background-color: white;
  padding: 20px 30px;
  border: 1px solid #a7a7a7;
}
.todoForm {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.cancelBtn,
.previewBtn {
  margin: 20px 0 10px;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 18px;
  background-color: white;
  border-radius: 2px;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}
.cancelBtn {
  color: #fb2e01;
  border: 1px solid #fb2e01;
}
.cancelBtn:hover {
  background-color: #fb2e01;
  color: white;
}
.previewBtn,
.subBtn {
  color: #04aa6d;
  border: 1px solid #04aa6d;
}
.previewBtn:hover,
.subBtn:hover {
  background-color: #04aa6d;
  color: white;
}
.label {
  display: flex;
  flex-direction: column;
  color: #474747;
}
.label span,
.label input {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.label input {
  padding: 10px 15px;
}
.addList {
  width: 100%;
  position: relative;
}
.addList input {
  width: 100%;
  padding-right: 45px;
}
.addList button {
  width: 30px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 10px;
}
.subBtn {
  width: max-content;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
}
.previewContainer {
  background-color: white;
  padding: 20px 30px;
  border: 1px solid #a7a7a7;
}
.previewTitle {
  font-size: 30px;
}
.previewContainer ul {
  margin: 20px 0 20px 20px;
}
.previewContainer li {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
}
.messageP,
.messagePw {
  color: #04aa6d;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #ffbb0088;
  padding: 10px 20px;
  color: black;
  line-height: 1.4;
}
.messageP {
  background-color: #04aa6d8e;
}
.alertIcon {
  width: 20px;
  margin-right: 10px;
}
