.profileContainer {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 30px;
}
.profileHead {
  background-color: #f4f5f7;
  border-bottom: 1px solid #e0e0e0;
}
.profileHeadDiv {
  max-width: 700px;
  margin: auto;
}
.headerTop {
  width: 360px;
  padding: 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.profileImg {
  width: 70px;
  height: 70px;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  background-color: #8d8d8d;
}
.profileNav {
  padding: 0 20px;
}
.name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}
.bio {
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}
.links {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a {
  font-weight: bold;
  margin: 0 0 10px 5px;
  cursor: pointer;
}
.Clink {
  width: 20px;
  fill: blue;
  margin-bottom: 10px;
}
.webLink {
  text-decoration: underline;
}
.profileNav {
  max-width: 600px;
  width: 100%;
  margin: 20px auto -1px;
  display: flex;
  justify-content: center;
}
.profileNav a {
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  margin: 0 5px;
  width: fit-content;
  background-color: #e7e7e7;
  border: 1px solid #e0e0e0;
}
.profileNav a:hover {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}
.profileNav .activePNL {
  background-color: white;
  border-bottom: white;
}
