.profileCont {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 30px;
}
.profileHead {
  background-color: #f4f5f7;
  border-bottom: 1px solid #e0e0e0;
}
.profileNav {
  max-width: 600px;
  width: 100%;
  margin: 20px auto -1px;
  display: flex;
  justify-content: center;
}
.profileNav a {
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  margin: 0 5px;
  width: fit-content;
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
}
.profileNav a:hover {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}
.profileNav .activePLink {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-bottom: none;
}
.profileBottom {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
.postTop {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.sortPost,
.createPost {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #dddddd;
  padding: 10px 15px;
  cursor: pointer;
}

.createPost {
  flex-grow: 0.9;
  padding: 10px 20px;
}
.createPost span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}
.sortPost span {
  font-weight: bold;
  margin-left: 5px;
}
.PTIcon {
  height: 25px;
}
/* .allPost {
  max-width: 650px;
  width: 100%;
} */
@media screen and (max-width: 550px) {
  .sortPost span {
    display: none;
  }
}
