.dashNavCont {
  min-height: 70px;
}
.dashNav {
  min-height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  box-shadow: 0px 1px 5px 1px rgba(219, 219, 219, 0.75);
  -webkit-box-shadow: 0px 1px 5px 1px rgba(219, 219, 219, 0.75);
  -moz-box-shadow: 0px 1px 5px 1px rgba(219, 219, 219, 0.75);
  z-index: 9;
}
.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.logo {
  margin: 0 20px;
}
.leftnav,
.rightnav {
  display: flex;
  align-items: center;
}
.bell {
  margin-right: 10px;
}
