.sidebarContainer {
  min-width: 215px;
  height: calc(100vh - 70px);
}
.sidebar {
  min-width: inherit;
  height: inherit;
  position: fixed;
  padding: 15px 0;
  background-color: white;
  overflow: auto;
  z-index: 9;
}
.sideItem {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 12px 0 12px 25px;
}
.icon {
  width: 30px;
  height: 30px;
}
.itemName {
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px;
  flex-grow: 1;
}
.sidebar a:hover {
  background-color: #e0e0e0;
}
@media screen and (max-width: 550px) {
  .sidebarContainer {
    position: absolute;
  }
}
