.postDiv {
  max-width: 600px;
  width: 100%;
  background-color: white;
  margin: 15px 0;
  border-radius: 5px;
}
.postTop {
  display: flex;
  padding: 10px 20px;
}
.cInfo {
  margin-left: 20px;
}
.cName {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
}
.cTime {
  font-weight: 500;
}
.cText {
  padding: 0 20px;
}
.cText p {
  font-size: 17px;
  line-height: 1.4;
}
.postImg {
  max-width: 100%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
}
.action {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* padding: 20px 20px 10px; */
  padding-bottom: 10px;
}
.actionItems {
  /* width: 150px; */
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 12px 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.actionItems span {
  font-weight: bold;
  color: #727272;
  transition: all 0.3s ease;
}
.actionIcon {
  width: 20px;
  height: 20px;
  fill: #727272;
  margin: 0 10px 0 0;
  transition: all 0.5s ease;
}
.actionItems:hover {
  background-color: #e0e0e0;
}
.actionItems:hover * {
  fill: black;
  color: black;
}
