.App {
  min-height: 100vh;
}
button {
  cursor: pointer;
}
.dashPageContainer {
  flex-grow: 1;
  max-width: 1250px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 30px;
}
a {
  text-decoration: none;
  color: inherit;
}
.active {
  background-color: #e0e0e0;
}
.h2 {
  margin-bottom: 20px;
  font-size: 35px;
  color: #202020;
}
